
#style {
    width: 100%; min-height: 100px; background-color:rgb(255, 255, 255);
}

#style1 {
    width: 100%; min-height: 100px; background-color:  #0000FF;
}

#style2 {
    width: 100%; min-height: 100px; background-color:  #ff0000;
    display: flex;
    justify-content: center;
}